:root {
    --color-principal: #222831;
    --color-secundario: #393e46;
    --color-terciario: #a3f7bf;
    --color-fuentes: #fff;
    --color-titulos: #29a19c;
    --color-enlaces: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    padding-left: 8.4em;
    background-color: var(--color-principal);
    color: var(--color-fuentes);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    font-size: 9.6rem;
    font-family: 'Roboto Mono', monospace;
}

/* tablets and smartphones responsive */
@media screen and (max-width: 1080px) {
h1 {
   font-size: 7.5rem;
   margin-bottom: 9rem;
}}

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    width: 8.4em;
}

.nav-main a {
    font-size: 2.3rem;
    display: inline-block;
    color: var(--color-enlaces);
    padding: 2.2rem;
    margin: 2.6rem 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.nav-main a:hover {
    color: var(--color-terciario);
    font-size: 2.7rem;
}

/* tablets and smartphones responsive */
@media screen and (max-width: 1080px) {

body {
    padding-left: 0;
    padding-top: 8rem;
}



.nav-main {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 8rem;
}

.nav-main a {
    font-size: 2.5rem;
    display: block;
    padding: 1.1rem 0;
    margin: 2.9rem 0;
}}

section {
    padding: 0px 7rem;
    margin: 7rem 0px;
    font-size: 2rem;
}

section h2 {
    color: var(--color-titulos);
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
}

section a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #1E242C;
}

/* tablets and smartphones responsive */
@media screen and (max-width: 1080px) {
section {
    font-size: 2.6rem;
}
section h2 {
    font-size: 4.5rem;
}

footer {
    padding: 3.2rem;
    font-size: 0.01rem;
}}

