html {
   box-sizing: border-box;
   font-size: 62.5%;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-size: 1.6rem;
   line-height: 1.5;
}

p {
   font-size: 2rem;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   background-repeat: no-repeat;
}

h2,
h3 {
   text-align: center;
   margin: 0;
}

h1 {
   max-width: 70%;
   margin: 0 auto;
   text-align: center;
   font-size: 6.4rem;
   font-weight: $fuenteBold;
}

h2 {
   font-size: 5rem;
}

h3 {
   font-size: 3rem;
}

