// Fuentes
//$fuente_principal: 'Nunito', sans-serif;
$fuenteLight: 'Nunitolight', sans-serif;
$fuenteRegular: 'Nunitoregular', sans-serif;
$fuenteBold: 'Nunitobold', sans-serif;
$fuenteBlack: 'Nunitoback', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$pc: 1024px;

// Colores
$base: #f8f8f8;
$waves: #ECEFF4;
$text: #3B4252;
$primario: #FFF;
$secundario: #88C0D0;
$terciario: #D8DEE9;

$base-dark: #2E3440;
$waves-dark: #3B4252;
$text-dark: #ECEFF4;
$primario-dark: #3B4252;
$secundario-dark: #434C5E;
$terciario-dark: #4C566A;
$enfasis: #000;
$blanco: #fff;
$terciarioSombra: #ccc;

$unit: 5rem;

// Fuentes
$lighter: 300;
$regular : 400;
$bold: 700;
$black: 900;
