// Fuentes
$fuente_principal: 'Nunito', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$pc: 1024px;

// Colores
$primario: #264653;
$secundario: #2A9D8F;
$terciario: #E9C46A;
$terciarioSombra: #F4A261;
$enfasis: #E76F51;
$blanco: #FFFFFF;
$negro: #000000;

$unit: 5rem;

// Fuentes

$lighter: 300;
$regular : 400;
$bold: 700;
