@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-polar-100: #4c566a;
  --color-polar-200: #434c5e;
  --color-polar-300: #3b4252;
  --color-polar-400: #2e3440;

  --color-snow-100: #eceff4;
  --color-snow-200: #e5e9f0;
  --color-snow-300: #d8dee9;

  --color-frost-100: #8fbcbb;
  --color-frost-200: #88c0d0;
  --color-frost-300: #81a1c1;
  --color-frost-400: #5e81ac;

  --color-aurora-red: #bf616a;
  --color-aurora-orange: #d08770;
  --color-aurora-yellow: #ebcb8b;
  --color-aurora-green: #a3be8c;
  --color-aurora-purple: #b48ead;
}

@layer utilities {
  .neumorphism {
    @apply bg-[#ffffff] border;
    border-color: var(--color-snow-100);
    box-shadow:
      10px 10px 15px #d9d9d9,
      -10px -10px 15px #ffffff;
  }
  .neumorphism-with-border {
    @apply bg-[#ffffff] border-4 border-[#ffffff];
    box-shadow:
      10px 10px 15px #d9d9d9,
      -10px -10px 15px #ffffff;
  }
  .neumorphism--inset {
    @apply bg-[#ffffff];
    box-shadow:
      inset 3px 3px 6px #d9d9d9,
      inset -3px -3px 6px #ffffff;
  }
  .neumorphism-dark {
    @apply border-none;
    color: var(--color-snow-100);
    background-color: var(--color-polar-400);
    box-shadow:
      10px 10px 15px #272c36,
      -10px -10px 15px #353c4a;
  }
  .neumorphism-with-border-dark {
    @apply border-4;
    color: var(--color-snow-100);
    background-color: var(--color-polar-400);
    border-color: var(--color-polar-400);
    box-shadow:
      10px 10px 15px #272c36,
      -10px -10px 15px #353c4a;
  }
  .neumorphism--inset-dark {
    background-color: var(--color-polar-400);
    box-shadow:
      inset 3px 3px 6px #272c36,
      inset -3px -3px 6px #353c4a;
  }

  .zoom-image-effect {
    @apply transition-all duration-700 hover:grayscale hover:scale-150 hover:object-cover;
  }
}

@layer components {
  .title-1 {
    @apply text-5xl font-bold text-center;
  }
  .title-2 {
    @apply text-3xl font-bold text-center;
  }
  .title-3 {
    @apply text-lg font-bold mb-2;
  }
  .icon {
    @apply h-12 w-10 flex items-center justify-center;
  }
  .project-card {
    @apply neumorphism dark:neumorphism-dark max-w-sm rounded-lg overflow-hidden;
  }
  .project-card__buttons {
    @apply flex justify-around items-center mt-6 mb-4;
  }
  .project-card__body {
    @apply p-5;
  }

  .btn-fill {
    @apply px-4 py-2 rounded neumorphism dark:neumorphism-dark transition hover:shadow-none;
  }
  .btn-ghost {
    @apply border-2 px-4 py-2 rounded transition;
    border-color: var(--color-frost-200);
  }
  .btn-ghost:hover {
    background-color: var(--color-frost-200);
    color: var(--color-polar-100);
  }
}
