---
import Layout from '@/layouts/Layout.astro'
import Modelo3dCanvas from '@/components/3d/Model3d'

import ProjectGrid from '@/components/cards/ProjectGrid'
import { getCollection } from 'astro:content'

const allProjects = await getCollection('projects')
---

<Layout>
  <header
    id="nav"
    class="lg:hidden z-[999999] backdrop-blur-xs sticky top-0 left-0 right-0"
  >
    <div
      class="flex justify-between items-center max-w-3xl mx-auto text-center py-4 px-10"
    >
      <a class="font-bold text-2xl" href="/">Eber Alejo</a>

      <nav
        id="navModal"
        class="z-10 fixed inset-0 flex flex-col gap-10 justify-center items-center bg-bg-100 overflow-hidden transition-all duration-500 h-0"
      >
        <ul class="flex flex-col items-center justify-evenly gap-10">
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" href="#about">About</a>
          </li>
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" class="title-2" href="#proyectos"
              >Proyectos</a
            >
          </li>
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" class="title-2" href="#contacto">Contacto</a
            >
          </li>
        </ul>
        <span
          data-showNav="false"
          class="text-4xl transition hover:-translate-y-3"
        >
          <i class="fa-solid fa-xmark"></i>
        </span>
      </nav>

      <span
        data-showNav="true"
        class="self-end text-4xl hover:opacity-80 transition-opacity"
      >
        <i class="fa-solid fa-bars"></i>
      </span>
    </div>
  </header>

  <header class="hidden lg:flex justify-between items-center max-w-5xl mx-auto">
    <a class="font-bold text-2xl" href="/">Eber Alejo</a>
    <nav class="p-5">
      <ul class="flex items-center justify-evenly gap-10">
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#about"
            >About</a
          >
        </li>
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#proyectos"
            >Proyectos</a
          >
        </li>
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <!-- about -->
  <section
    id="about"
    class="flex flex-col lg:flex-row justify-between items-center gap-10 max-w-7xl text-center mx-auto my-10 px-4"
  >
    <div
      class="flex justify-center items-center mx-auto w-[280px] h-[280px] lg:w-[640px] lg:h-[640px]"
    >
      <Modelo3dCanvas client:visible />
    </div>
    <div class="px-5">
      <h1
        class="prose-headings:h-1 text-primary-200 flex flex-col text-5xl font-bold gap-5"
      >
        Eber Alejo
      </h1>
      <h2 class="prose-headings:h-2 text-primary-300">
        Desarrollador Web & Creador de Contenido
      </h2>
      <p class="mt-5 mx-auto prose text-txt-100">
        Ingeniero en Tecnologías Computacionales orientado a resultados y
        divulgador de conocimiento. Diseño experiencias web de alto rendimiento,
        optimizo procesos mediante automatización y comparto buenas prácticas a
        la comunidad a través de proyectos de código abierto y contenidos
        educativos. Mi trayectoria abarca desde la creación de interfaces
        intuitivas hasta la construcción de arquitecturas escalables, siempre
        guiado por la calidad, la eficiencia y el aprendizaje continuo.
        Reconocido en hackathones nacionales y líder de iniciativas formativas,
        aporto visión estratégica y capacidad de ejecución a equipos que buscan
        transformar ideas en soluciones de impacto.
      </p>
    </div>
  </section>

  <main class="w-11/12 max-w-6xl mx-auto mt-16 md:p-20 md:w-full">
    <!-- portfolio -->
    <section id="proyectos">
      <h2 class="title-2">Proyectos</h2>
      <ProjectGrid projects={allProjects} />
    </section>
  </main>

  <footer class="mt-10 bg-bg-200 p-12" id="contacto">
    <div
      class="flex flex-col justify-between max-w-2xl mx-auto md:flex-row gap-10"
    >
      <section>
        <h3 class="font-bold title-3 text-primary-200">Desarrollador</h3>
        <p>
          Hecho por <strong>Eber Alejo</strong>
        </p>
      </section>

      <section>
        <h3 class="font-bold title-3 text-primary-200">Contacto</h3>
        <ul class="grid grid-cols-2 md:grid-cols-4 md:gap-1 gap-3">
          <li>
            <a href="mailto:eber4202@hotmail.com">
              <i class="fa-solid fa-envelope"></i>
              E-Mail
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://github.com/ch3ber"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i>
              GitHub
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://twitter.com/ch3ber_dev"
              target="_blank"
            >
              <i class="fa-brands fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://www.linkedin.com/in/eberalejo"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </section>
    </div>
  </footer>
</Layout>

<script defer>
  const toggleNav = () => {
    const navModal = document.getElementById('navModal')
    const body = document.querySelector('body')
    const isOpen = navModal.classList.contains('h-screen')

    if (isOpen) {
      body.classList.remove('overflow-hidden')
      navModal.classList.remove('h-screen')
      navModal.classList.add('h-0')
    }

    if (!isOpen) {
      body.classList.add('overflow-hidden')
      navModal.classList.remove('h-0')
      navModal.classList.add('h-screen')
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelectorAll('[data-showNav]')
      .forEach((el) => el.addEventListener('click', toggleNav))
  })
</script>
