.dark {
   background-color: $base-dark;
   color: $text-dark;
   transition: background-color 0.1s linear;
   .nav {
      background-color: $base-dark;
      .nav__link { color: $text-dark; }
   }
   .header {
      background: $primario-dark;
      box-shadow:  20px 20px 40px #20242D,
      -20px -20px 40px #3C4453;
   }
   .portafolio { background-color: $primario-dark; }
   .portafolio__card {
      @include neumorphism(dark);
      .card__buttons { 
         .button-ghost { @include button($fill: false, $color: $text-dark); }
         .button-fill { @include button($fill: true, $color: $text-dark); }
      }
   }
   .servicios__cards {
      .servicio {
         @include neumorphism-inset(dark);
         h3 { border-bottom: 3px solid $text-dark; }
      }
   }
   .footer {
      background-color: $terciario-dark;
      a {
         @include neumorphism(dark);
         &:hover {
            background-color: darken($secundario-dark, 5);
         }
      }
   }
}

