.header {
   margin: $unit 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $secundario;
   padding: 1rem;
   .about__profilePicture {
      img {
         width: 25rem;
         border-radius: 50%;
      }
   }
}

@include pc {
   .header {
      display: flex;
      justify-content: space-between;
      max-width: 70%;
      margin: 7rem auto;
      padding: 2.5rem;
      .about {
         h2 {
            text-align: left;
            font-size: 2.8rem;
         }
         display: flex;
         align-items: center;
         justify-content: space-between;
         .about__description {
            flex: 2.5 0 0;
         }
         .about__profilePicture {
            flex: 1 0 0;
         }
      }
      .tecnologias {
         display: flex;
         justify-content: space-between;
         .tecnologias__using,
         .tecnologias__learning{
            display: flex;
            font-family: $fuenteBold;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
         }
         .iconsContainer {
            display: flex;
            gap: 3rem;
         }
      }
   }
}

