.nav {
   display: flex;
   justify-content: space-around;
   padding: 3rem 10rem;
   align-items: center;

   .nav__link {
      font-size: 1.8rem;
      color: $text;
      font-family: $fuenteRegular;
   }
}

@include tablet {
   .nav__link {
      font-size: 1.3rem;
   }
}

@include pc {
   .nav {
      justify-content: flex-end;
      gap: 2rem;
      .nav__link {
         font-size: 2rem;
         padding: 0.5rem;
         &:hover {
            color: $secundario;
         }
      }
      
   }
}

