.nav {
   display: flex;
   justify-content: space-between;
   padding: 4rem;
   background-color: $base;
   .nav__link {
      display: none;
      color: $text;
      font-family: $fuenteRegular;
   }
}
.static {
   overflow: hidden;
}
.nav--show {
   height: 100vh;
   .container {
      margin-top: 4rem;
      font-size: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
   }
   .nav__link {
      display: inline-block;
   }
}

@include pc {
   .nav {
      justify-content: flex-end;
      #menuIcon {
         display: none;
      }
      .container {
         display: flex;
         justify-content: flex-end;
         gap: 2rem;
         .nav__link {
            display: inline-block;
            font-size: 2rem;
            padding: 0.5rem;
            &:hover {
               color: $secundario;
            }
         }
      }
      
   }
}

