.pages {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   h2 {
      margin: 3rem 0;
   }
}
.pages__target {
   background-color: $secundario;
   padding: 2.5rem;
   border-radius: 10px;
   margin-bottom: $unit;
   text-align: center;

   box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.4);
   -webkit-box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.4);
   -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.4);

   &:last-of-type {
      margin-bottom: 0;
   }
   p {
      font-weight: $bold;
      color: $blanco;
      display: inline-block;
      margin: 1.5rem 0 2.5rem 0;
   }
}

.pages__img {
   filter: grayscale(1);
   border-radius: 1.5rem;
   &:hover {
      filter: saturate(1);
   }
}

@include tablet {
   .pages {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      place-items: center;
      gap: 5rem;
      p {
         font-size: 2.4rem;
      }
      .pages__target {
         margin: 0;
      }
   }

   .pages h2 {
      grid-column: 1/3;
   }
}

