.servicios__cards {
   padding: 7rem 0;
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-row-gap: 4rem;
   .servicio {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include neumorphism-inset(white);
      h3 {
         height: 4em;
         border-bottom: 3px solid $text;
      }
      p { text-align: center; }
   }
}
@include pc {
   .servicios__cards {
      grid-template-rows: unset;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 4rem;
   }
}
