// seleccionar el div con id servicio para que el parrafo no ocupe all espacio
#servicios {
   display: flex;
   flex-direction: column;
   align-items: center;
   h2 {
      padding: 0 0.3rem;
   }
}

.servicios {
   margin-top: 3rem;
}

.servicios__info {
   text-align: center;
   h3 {
      margin-top: 8rem;
   }
   img {
      max-height: 15rem;
   }
   &:first-of-type {
      h3 {
         margin-top: 3rem;
      }
   }
}

@include tablet {
#servicios {
   h2 {
      padding: 0.3rem 4rem;
   }
}
   .servicios {
      @include grid(3, $unit);
   }
   .servicios__info {
      display: flex;
      flex-direction: column;

      img {
         max-height: 19%;
      }
      h3 {
         margin: 3rem 0;
         order: 1;
      }
      img {
         order: 0;
      }
      p {
         order: 2;
      }
      ul {
         list-style: square;
         order: 3;
      }
   }
}

@include pc {
   .servicios__info {
      img {
         max-height: 40%;
      }
   }
}
