.servicios__info {
   text-align: center;
}

@include tablet {
   .servicios {
      @include grid(3, $unit);
   }
   .servicios__info {
      /*display: grid;*/
      /*grid-template-rows: 1fr repeat(2, auto);*/
      display: flex;
      flex-direction: column;

      h3 {
         /*grid-row: 2/3;*/
         order: 1;
      }
      img {
         /*margin: auto 0;*/
         order: 0;
      }
      p {
         order: 2;
      }
      ul {
         list-style: square;
         order: 3;
      }
   }
}

