body {
   background-color: $base;
   font-family: $fontBase;
   color: $text;
}

.container {
   width: min(80%, 120rem);
   margin: 0 auto;
}

.main {
   background-color: $secundario;
}

@include pc() {
   .container {
      width: min(90%, 120rem);
   }
}
