---
import '@/styles/global.css'
import SpeedInsights from '@vercel/speed-insights/astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>Eber Alejo | Desarrollador Web & Creador de Contenido</title>

    <meta
      name="description"
      content="Ingeniero de software full-stack, creador de contenido y colaborador open-source. Conoce mis proyectos y blog."
    />

    <link rel="preconnect" href="https://fontawesome.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://ch3ber.github.io" />

    <script
      async
      src="https://kit.fontawesome.com/0d89849159.js"
      crossorigin="anonymous"></script>
  </head>
  <body
    class="selection:bg-accents selection:text-txt-200 bg-bg-100 text-txt-100"
  >
    <slot />
    <SpeedInsights />
  </body>
</html>
